.RData
.Renviron
.Rhistory
.Rprofile
.Rproj.user/
.idea/
.ipynb_checkpoints/
.venv/
DeepLearningText2/
Untitled.ipynb
__pycache__/
a_reviews.csv
all_reviews.csv
architecture.txt
data/
full_movies.csv
movie_project.Rproj
s_reviews.csv
w2v.R
wa_reviews.csv
we_reviews.csv